[Unit]
Description="Apigee Monit Service starter"
After=network.target network-online.target
Requires=network.target network-online.target

[Service]
#WorkingDirectory=
Type=oneshot
RemainAfterExit=yes

#ExecStartPre=-
ExecStart=/opt/apigee/apigee-service/bin/apigee-service apigee-monit start
#ExecStartPost=-

ExecStop=/opt/apigee/apigee-service/bin/apigee-service apigee-monit stop

ExecReload=/opt/apigee/apigee-service/bin/apigee-service apigee-monit restart

[Install]
WantedBy=multi-user.target